<div class="row">
  <div class="large-8 large-offset-1 columns">
    <h5 class="subheader">Using a Creative Commons license on your work is easy! Just follow these steps:</h5><br>
  </div>
</div>

<div class="row">
  <div class="large-10 large-centered columns">
    <div class="large-4 columns">
      <h5>
        <div class="header-number">1</div>
        <span class="subheader"><a href="//creativecommons.org/licenses/" target="_blank">Learn</a> about our licenses so you understand how they work.</span>
      </h5>
      <br>
    </div>
    <div class="large-4 columns">
      <h5>
        <div class="header-number">2</div>
        <span class="subheader">Choose specific <a id="terms-button" href="" class="button tiny radius" data-reveal-id="terms-dialog">license terms</a> that work for you.</span>
      </h5>
      <br>
    </div>
    <div class="large-4 columns">
      <h5>
        <div class="header-number">3</div>
        <span class="subheader">Copy and paste from below into your documents:</span>
      </h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 large-centered columns">
    <div class="copybox-tabs">
      <span class="copybox-tab" ng-click="format='HTML'" ng-class="format == 'HTML' && 'active'">HTML</span>
      <span class="copybox-tab" ng-click="format='Text'" ng-class="format == 'Text' && 'active'">Text</span>
    </div>
    <div class="panel copybox">
      <div class="panel attrib" id="web-attr" ng-show="format == 'HTML'">
        <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}"><img alt="Creative Commons License" style="border-width:0" src="{{license.iconUrl}}"></a><br>This work is licensed under a <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}">{{license.title}} License</a>.
      </div>
      <div class="panel attrib" id="text-attr" ng-show="format == 'Text'">
        This work is licensed under the {{license.title}} License. To view a copy of this license, visit creativecommons.org/licenses.
      </div>
      <div class="text-center">
        <a href="" class="button radius">Copy {{format}}</a>
      </div>
    </div>
  </div>
</div>

<div id="jurisdiction-dialog" class="reveal-modal">
  <h2></h2>
  <p>Short blurb about default licenses working internationally</p>
  <p>and a grid/list of countries to choose from for those with
  specific needs</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="terms-dialog" class="reveal-modal">
  <h2>License Terms</h2>

  <h5 class="subheader">Waive all rights (place in the public domain), or retain some rights on the work?</h5>
  <div class="row" ng-show="termsQ > 1">
    <div class="large-11 large-offset-1 columns">
      <h5>Answer to question 1</h5>
    </div>
  </div>
  <div class="row" ng-show="termsQ == 1">
    <div class="large-8 large-centered columns">
      <ul class="button-group even-2 radius">
        <li><a class="button small" ng-click="waive()">Waive all rights</a></li>
        <li><a class="button small" ng-click="retain()">Retain copyright and require attribution</a></li>
      </ul>
    </div>
  </div>

  <h5 class="subheader" ng-show="termsQ >= 2">Allow modified versions (derivatives) of your work to be created?</h5>
  <div class="row" ng-show="termsQ > 2">
    <div class="large-11 large-offset-1 columns">
      <h5>Answer to question 2</h5>
    </div>
  </div>
  <div class="row" ng-show="termsQ == 2">
    <div class="large-8 large-centered columns">
      <ul id="terms-derivatives" class="button-group even-3 radius">
        <li><a class="button small" ng-click="allowDerivatives()">Allow</a></li>
        <li><a class="button small" ng-click="shareAlike()">Under the same terms as your work</a></li>
        <li><a class="button small" ng-click="disallowDerivatives()">Do not allow</a></li>
      </ul>
    </div>
  </div>

  <h5 class="subheader" ng-show="termsQ >= 3">Allow commercial uses of your work?</h5>
  <div class="row" ng-show="termsQ > 3">
    <div class="large-11 large-offset-1 columns">
      <h5>Answer to question 3</h5>
    </div>
  </div>
  <br>
  <h5 ng-show="termsQ > 3"><span class="subheader">Selected license:</span> Creative Commons Something or Other 43 1/2 Intergalactic</h5>
  <a class="button" href="" ng-click="resetTermsDialog()" ng-show="termsQ > 3">Try again</a>
<a class="button" href="" ng-click="closeTermsDialog()" ng-show="termsQ > 3">Close</a>
  <div class="row" ng-show="termsQ == 3">
    <div class="large-8 large-centered columns">
      <ul class="button-group even-2 radius">
        <li><a class="button small" ng-click="allowCommercial()">Allow</a></li>
        <li><a class="button small" ng-click="disallowCommercial()">Do not allow</a></li>
      </ul>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
//  $('#terms-dialog').foundation('reveal', 'open');
</script>