<div class="row">
  <div class="large-8 large-offset-1 columns">
    <h5 class="subheader">Using a Creative Commons license on your work is easy! Just follow these steps:</h5><br>
  </div>
</div>

<div class="row">
  <div class="large-10 large-centered columns">
    <div class="large-4 columns">
      <h5>
        <div class="header-number">1</div>
        <span class="subheader"><a href="//creativecommons.org/licenses/" target="_blank">Learn</a> about our licenses so you understand how they work.</span>
      </h5>
      <br>
    </div>
    <div class="large-4 columns">
      <h5>
        <div class="header-number">2</div>
        <span class="subheader">Choose specific <a id="terms-button" href="" class="button tiny radius" data-reveal-id="terms-dialog">license terms</a> that work for you.</span>
      </h5>
      <br>
    </div>
    <div class="large-4 columns">
      <h5>
        <div class="header-number">3</div>
        <span class="subheader">Copy and paste from below into your documents:</span>
      </h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 large-centered columns">
    <div class="copybox-tabs">
      <span class="copybox-tab" ng-click="format='HTML'" ng-class="format == 'HTML' && 'active'">HTML</span>
      <span class="copybox-tab" ng-click="format='Text'" ng-class="format == 'Text' && 'active'">Text</span>
    </div>
    <div class="panel copybox">
      <div class="panel attrib" id="web-attr" ng-show="format == 'HTML'">
        <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}"><img alt="Creative Commons License" style="border-width:0" src="{{license.iconUrl}}"></a><br>This work is licensed under a <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}">{{license.title}} License</a>.
      </div>
      <div class="panel attrib" id="text-attr" ng-show="format == 'Text'">
        This work is licensed under the {{license.title}} License. To view a copy of this license, visit creativecommons.org/licenses.
      </div>
      <div class="text-center">
        <a id="copy-button" href="" class="button radius">Copy {{format}}</a>
      </div>
    </div>
  </div>
</div>

<div id="jurisdiction-dialog" class="reveal-modal">
  <h2></h2>
  <p>Short blurb about default licenses working internationally</p>
  <p>and a grid/list of countries to choose from for those with
  specific needs</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="terms-dialog" class="reveal-modal">
  <h2>License Terms</h2>

  <ul id="terms-block">
    <li ng-click="toggle('waive')" ng-class="{selected: waive}">
      <img class="terms-icon" src="http://mirrors.creativecommons.org/presskit/icons/zero.svg">
      <h6>Waive Copyright</h6>
      <p>Place your work in the public domain without any restrictions</p>
    </li>
    <li ng-click="toggle('by')" ng-class="{selected: by}">
      <img class="terms-icon" src="http://mirrors.creativecommons.org/presskit/icons/by.svg">
      <h6>Attribution</h6>
      <p>Require that you get credited for your work</p>
    </li><li ng-click="toggle('nc')" ng-class="{selected: nc, blur: waive}">
      <img class="terms-icon" src="http://mirrors.creativecommons.org/presskit/icons/nc.svg">
      <h6>Non-commercial</h6>
      <p>Do not allow commercial uses of your work</p>
    </li>
    <li ng-click="toggle('sa')" ng-class="{selected: sa, blur: waive}">
      <img class="terms-icon" src="http://mirrors.creativecommons.org/presskit/icons/sa.svg">
      <h6>Share-alike</h6>
      <p>Require works based on your work to be released under the same terms</p>
    </li>
    <li ng-click="toggle('nd')" ng-class="{selected: nd, blur: waive}">
      <img class="terms-icon" src="http://mirrors.creativecommons.org/presskit/icons/nd.svg">
      <h6>No derivatives</h6>
      <p>Do not allow works based on your work</p>
    </li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>