<div class="header">
  <h1>Contribute to the Commons</h1>
</div>

<div class="row">
  <div class="large-9 columns">
    <h4 class="subheader">Using a Creative Commons license on your work is easy! Just follow these steps:</h4><br />
<!--    <ol>
      <li>Learn about our <a href="http://staging.creativecommons.org/licenses/">licenses</a> and things to <a href="http://wiki.creativecommons.org/Before_Licensing">consider before licensing</a></li>
      <li>Simply copy and paste the text below into your documents.</li>
    </ol> -->
  </div>
  <div class="large-2 columns text-right">
    <a href="#" class="button small secondary radius" data-reveal-id="jurisdiction-dialog"><img width="60px" src="assets/World.svg"><br />Other Licenses</a>
  </div>
</div>

<div class="row">
  <div class="large-10 large-centered columns">
    <h4><span class="header-number">1</span><span class="subheader">
        <a href="//creativecommons.org/licenses/" target="_blank">Learn</a> about our licenses so you understand how they work.</span></h4>
  </div>
</div>
<br />
<div class="row">
  <div class="large-10 large-centered columns">
    <h4><span class="header-number">2</span><span class="subheader">Choose specific <a href="" class="button tiny radius" data-reveal-id="restrictions-dialog">license terms</a> that work for you.</span></h4>
  </div>
</div>

<div class="row">
  <div class="large-10 large-centered columns">
    <h4><span class="header-number">3</span><span class="subheader">Copy and paste from the box below into your documents:</span></h4>
  </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <span class="label copybox-tab" ng-click="format='HTML'"
          ng-class="format == 'HTML' && 'active'">HTML</span>
    <span class="label copybox-tab" ng-click="format='Text'"
          ng-class="format == 'Text' && 'active'">Text</span>
    <div class="panel copybox" id="web-attr" ng-class="format != 'HTML' && 'hide'">
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
    </div>
    <div class="panel copybox" id="text-attr" ng-class="format != 'Text' && 'hide'">
      This work is licensed under the Creative Commons Attribution 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by/3.0/.
    </div>
  </div>
</div>
<div class="row">
  <div class="large-7 large-centered columns text-center">
    <a href="" class="button radius">Copy {{format}}</a>
  </div>
</div>

<div id="jurisdiction-dialog" class="reveal-modal">
  <h2>Jurisdiction</h2>
  <p>A jurisdiction is ... blah blah</p>
  <p>and a grid/list to choose from</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="restrictions-dialog" class="reveal-modal">
  <h2>License Restrictions</h2>
  <p>Choose between CC0, BY-NC, etc.</p>
  <ul>
    <li>Waive all rights (place this work in the public domain)</li>
    <li>Allow commercial uses</li>
    <li>Allow derived works</li>
    <li>Require derived works to use the same license</li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
//  $('#add-work-details-dialog').foundation('reveal', 'open');
</script>
