<div class="row">
  <div class="large-8 large-offset-1 columns">
    <h5 class="subheader">Using a Creative Commons license on your work is easy! Just follow these steps:</h5><br />
  </div>
</div>

<div class="row">
  <div class="large-10 large-centered columns">
    <div class="large-4 columns">
      <h5>
        <span class="header-number">1</span>
        <span class="subheader"><a href="//creativecommons.org/licenses/" target="_blank">Learn</a> about our licenses so you understand how they work.</span>
      </h5>
      <br />
    </div>
    <div class="large-4 columns">
      <h5>
        <span class="header-number">2</span>
        <span class="subheader">Choose specific <a id="terms-button" href="" class="button tiny radius" data-reveal-id="terms-dialog">license terms</a> that work for you.</span>
      </h5>
      <br />
    </div>
    <div class="large-4 columns">
      <h5>
        <span class="header-number">3</span>
        <span class="subheader">Copy and paste from below into your documents:</span>
      </h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 large-centered columns">
    <div class="copybox-tabs">
      <span class="copybox-tab" ng-click="format='HTML'"
            ng-class="format == 'HTML' && 'active'">HTML</span>
      <span class="copybox-tab" ng-click="format='Text'"
            ng-class="format == 'Text' && 'active'">Text</span>
    </div>
    <div class="panel copybox">
      <div class="panel attrib" id="web-attr" ng-class="format != 'HTML' && 'hide'">
        <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}"><img alt="Creative Commons License" style="border-width:0" src="{{license.iconUrl}}" /></a><br />This work is licensed under a <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}">{{license.title}} License</a>.
      </div>
      <div class="panel attrib" id="text-attr" ng-class="format != 'Text' && 'hide'">
        This work is licensed under the {{license.title}} License. To view a copy of this license, visit creativecommons.org.
      </div>
      <div class="text-center">
        <a href="" class="button radius">Copy {{format}}</a>
      </div>
    </div>
  </div>
</div>

<div id="jurisdiction-dialog" class="reveal-modal">
  <h2></h2>
  <p>A jurisdiction is ... blah blah</p>
  <p>and a grid/list to choose from</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="terms-dialog" class="reveal-modal">
  <h2>License Restrictions</h2>
  <p>Choose between CC0, BY-NC, etc.</p>
  <ul>
    <li>Waive all rights (place this work in the public domain)</li>
    <li>Allow commercial uses</li>
    <li>Allow derived works</li>
    <li>Require derived works to use the same license</li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
//  $('#add-work-details-dialog').foundation('reveal', 'open');
</script>
