<div class="row">
  <div class="large-6 large-centered columns">
    <div class="row">
      <h5 class="subheader">Have you <a href="//creativecommons.org/licenses/" target="_blank">learned</a> about our licenses and want to use one? It's easy! Just follow these steps:</h5>
    </div>
    <div class="row">
      <h5>
        <div class="header-number">1</div>
        <span class="subheader">Choose what others can do with your work.</span>
      </h5>
    </div>
    <div class="row">
      <div class="large-10 large-centered columns panel">
        <h6>Selected License: <span class="subheader">{{license.shortTitle}}</span></h6>
        <p>
          Allows x, y, z, and requires a, b, c.
          <a id="terms-button" href="" class="button tiny radius" data-reveal-id="terms-dialog">Change...</a>
        </p>
      </div>
    </div>
    <div class="row">
      <h5>
        <div class="header-number">2</div>
        <span class="subheader">Paste this into your documents or Web pages:</span>
      </h5>
    </div>
    <div class="row">
      <div class="large-10 large-centered columns">
        <div class="copybox-tabs">
          <span class="copybox-tab" ng-click="format='HTML'"
                ng-class="format == 'HTML' && 'active'">HTML</span>
          <span class="copybox-tab" ng-click="format='Text'"
                ng-class="format == 'Text' && 'active'">Text</span>
        </div>
        <div class="panel" id="web-attr" ng-show="format == 'HTML'">
          <div class="attrib"><a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}"><img alt="Creative Commons License" style="border-width:0" src="{{license.iconUrl}}" /></a><br />This work is licensed under a <a rel="license" href="{{license.deedUrl}}deed.{{license.lang}}">{{license.title}} License</a>.</div>
        </div>
        <div class="panel" id="text-attr" ng-show="format == 'Text'">
          <div class="attrib">This work is licensed under the {{license.title}} License,  {{license.shortUrl}}</div>
        </div>
      <div class="text-center">
        <a id="copy-button" href="" class="button radius">Copy {{format}}</a>
      </div>
      </div>
    </div>
    <div class="row">
      <h5>
        <div class="header-number">3</div>
        <span class="subheader">That's it!</span>
      </h5>
    </div>
  </div>
</div>

<div id="jurisdiction-dialog" class="reveal-modal">
  <h2></h2>
  <p>Short blurb about default licenses working internationally</p>
  <p>and a grid/list of countries to choose from for those with
  specific needs</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="terms-dialog" class="reveal-modal">
  <h2>License Terms</h2>

  <form>
    <div class="row">
      <div class="large-6 small-12 small-centered columns">
        <ul class="small-block-grid-2">
          <li>
            <label class="large-term-box" ng-class="{selected: waive}" for="waive-chk">
              <input type="checkbox" class="term-chk" id="waive-chk" ng-model="waive">
              <img src="http://mirrors.creativecommons.org/presskit/icons/zero.svg">
              <h6 class="subheader"><span class="nobr">Waive Copyright</span></h6>
              <p>Place your work in the public domain without any restrictions</p>
            </label>
          </li>
          <li>
            <label class="large-term-box" ng-class="{selected: by}" for="by-chk">
              <input type="checkbox" class="term-chk" id="by-chk" ng-model="by">
              <img src="http://mirrors.creativecommons.org/presskit/icons/by.svg">
              <h6 class="subheader">Attribution</h6>
              <p>Require that you get credited for your work</p>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-8 small-12 small-centered columns">
        <ul class="small-block-grid-3">
          <li>
            <label for="nc-chk"
                   class="medium-term-box" ng-class="{selected: nc, disabled: waive}">
              <input type="checkbox" class="term-chk" id="nc-chk"
                     ng-model="nc" ng-disabled="waive">
              <img src="http://mirrors.creativecommons.org/presskit/icons/nc.svg">
              <h6 class="subheader"><span class="nobr">Non-Commercial</span></h6>
              <p>Do not allow commercial uses of your work</p>
            </label>
          </li>
          <li>
            <label for="sa-chk"
                   class="medium-term-box" ng-class="{selected: sa, disabled: waive}">
              <input type="checkbox" class="term-chk" id="sa-chk"
                     ng-model="sa" ng-disabled="waive">
              <img src="http://mirrors.creativecommons.org/presskit/icons/sa.svg">
              <h6 class="subheader">Share Alike</h6>
              <p>Works based on yours must use the same terms</p>
            </label>
          </li>
          <li>
            <label for="nd-chk"
                   class="medium-term-box" ng-class="{selected: nd, disabled: waive}">
              <input type="checkbox" class="term-chk" id="nd-chk"
                     ng-model="nd" ng-disabled="waive">
              <img src="http://mirrors.creativecommons.org/presskit/icons/nd.svg">
              <h6 class="subheader">No Derivatives</h6>
              <p>Do not allow other works based on yours</p>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </form>
  <div class="text-right"><a class="button" ng-click="closeTermsDialog()">Close</a></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
